{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #de7540;
}

header {
    background-color: #222020;
    padding: 10px 0;
    text-align: center;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.order-section {
    background-image: url('sign.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    color: white;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container label {
    display: flex;
    margin: 10px 0 5px;
    text-align: left;
}

.form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.form-container input[type="submit"] {
    background-color: #ff6600;
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

